body {
  background-color: #000000;
}
h1 {
  color: #D4AF37;
  font-family: Courier New;
}
h2 {
  color: #D4AF57;
  font-family: Courier New;
}
p {
  color: #00ff00;
}
a {
  color: #ff0000;
}
ul {
  color: #00ff00;
}